# Python
__pycache__/
*.pyc
venv/
*.db
uploads/.env

# Android
mobile/android/.gradle/
mobile/android/build/
mobile/android/app/build/
mobile/android/local.properties
*.apk

# Node (for later)
web/node_modules/
web/.next/

# IDE.idea/.vscode/
*.iml